Exercise 1:  Create a new Jupyter notebook called DataScienceEcosystem.ipynb

Exercise 2: Create markdown cell with title of the notebook

# Data Science Tools and Ecosystem

Exercise 3 - Create a markdown cell for an introduction

## In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries in Data Science
- Evaluating arithmetic expressions in Python

Exercise 4 - Create a markdown cell to list data science languages

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R
4. Julia

Exercise 5 - Create a markdown cell to list data science libraries

Some of the commonly used libraries used by Data Scientists include:
1. pandas
2. Numpy
3. Matplotlib
4. Seaborn
5. scikit-learn
6. ggplot2
7. stringr

Exercise 6 - Create a markdown cell with a table of Data Science tools

|Data Science Tools|
--------------------
|Jupyter Notebooks|
|RStudio|
|VS Code|

Exercise 7 - Create a markdown cell introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python:

In [15]:
1+1

2

In [16]:
10*2

20

In [17]:
2**2

4

In [18]:
2-1

1

In [19]:
20/4

5.0

Exercise 8 - Create a code cell to multiply and add numbers

In [13]:
# This a simple arithmetic expression to mutiply then add integers:
(3*4)+5

17

Exercise 9 - Create a code cell to convert minutes to hours

In [14]:
# This will convert 200 minutes to hours by diving by 60:
200/60

3.3333333333333335

Exercise 11 - Create a markdown cell to indicate the Author's name

## Author:
Felipe Domingos Queiroz Nogueira